@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.about {
    padding: 2rem;
    width: 100%;
    margin: 3rem 0;
    display: flex;
    align-items: auto;
    flex-wrap: wrap;
    height: 100%;
}

.about h1 {
    text-align: left;
}

.about .left h1 {
    margin: 0;
    display: inline; /* Add this to make the heading and the vertical bar appear on the same line */
}

.about .top-container  {
    display: flex;
    flex-direction: row;
}

.about .heading-container {
    flex-direction: row;
}

.about .vertical-bar {
    width: 6px;
    height: 40px; /* Adjust the height of the vertical bar as needed */
    background-color: rgb(248, 217, 15);
    margin-right: 1rem /* Add some spacing between the heading and the vertical bar */
  }

.about .left {
    display: flex;
    text-align: center;
    margin: auto;
    padding: 1rem;
    flex: 1;
}

.about .left .heading-div {
    display: flex;
    flex-direction: row;
}

.about .left p {
    margin: 1.2rem 0;
    font-family: 'Open Sans';
    text-align: left;
}

.about .right{
    max-width: 500px; /* Reduce the max-width */
    min-width: 400px;
}

/* .about  .experience-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} */



.about .experience-heading {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin: auto;
    padding: 1rem;
    padding-top: 3rem;
    flex: 1;
}

.experience-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    font-family: 'Open Sans';
    text-align: left;
    max-width: 1140px;
    margin: auto;
    grid-gap: 40px;
}

.row-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 300px;
    box-sizing: border-box;
    margin: 1.2rem 1rem;
}

.row-item li {
    margin: 0.2rem 0;
    font-family: 'Open Sans';
    text-align: left;
}

.row-item h3,
.row-item p,
.row-item ul {
    width: 100%;
}

.row-item h3{
    margin-bottom: 0.8rem;
}

.row-item p{
    font-family: sans-serif;
    font-size: 15px;
    margin-bottom: 1rem;
}

.right .img-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    align-items: center;
    text-align: center;
}

.right .img {
    max-width: 90%;
    border: 1px solid #333;
}

.right .top {
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}

.right .bottom {
    grid-column: 4 / -1;
    grid-row: 1;
    z-index: 5;
}
.my-story {
    align-items: center;
}

.my-story p {
    margin: 1.2rem 1rem;
    margin-bottom: 10px;
    font-family: 'Open Sans';
}
.my-story span {
    color: rgb(248, 217, 15);
}

.my-story .space-out {
    word-spacing: 15px;
    color: rgb(248, 217, 15);
    font-family: 'Lumanosimo', sans-serif;
    padding: 10px;
}