.footer{
    width: 100%;
    padding: 1rem;
    background-color: rgba(19, 19, 19, 0.8);
}

.footer-container {
    display: flex;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.left {
    height: 100%;
    width: 25vw;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-basis: 40%;
}

.email {
    display: flex;
    margin-bottom: 0.8rem;
}

.phone {
    display: flex;
    margin-bottom: 0.8rem;
}

.email p {
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
}

.phone p {
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
}

.location {
    display: flex;
    margin-bottom: 0.8rem;
}

.location p {
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
}


.right {
    height: 100%;
    width: 75vw;
    max-width: 90%;
    padding: 1rem;
    flex-basis: 60%;
}

.right-heading {
    font-family: 'Cutive Mono', monospace;
}

.right .right-text {
    line-height: 25px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1em;
}

.social {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

h4 {
    font-size: 1.2rem;
    padding-bottom: 0.7rem;
}

p {
    font-size: 1.2rem;
}

.copyright  {
    display: flex;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr; /* Start with a single column */
    gap: 10px;
    background-color: #000;
    border-radius: 50px;
}

.copyright p {
    margin: 10px;
    font-family: 'Raleway', sans-serif;
}

/* media queries */
@media screen and (max-width: 640px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}
/* For large screens, set the flex-direction to row */
@media only screen and (min-width: 768px) {
    .copyright {
      flex-direction: row;
    }
    .copyright p {
      flex: 1; /* This will make the paragraphs equally share the available space */
    }
  }

/* For mobile phones, set the flex-direction to column */
@media only screen and (max-width: 767px) {
    .copyright  {
        flex-direction: column;
    }
}
  