/* HeroImgStyles.css */
.mask {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; /* Add this to ensure the mask clips the background */
}

.intro-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(0); /* Add this to enable GPU acceleration for smoother parallax effect */
}

.mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
    z-index: 0; /* Move this pseudo-element behind the background image */
}

.hero {
    position: relative;
}

.hero .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.hero .content h1 {
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
}

.hero .content p {
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
}

.content {
    position: relative;
/* Add your styles for the content here */
}

.content .btn {
    margin: 1rem 0.2rem;
}

/* media queries */

@media screen and (max-width: 640px) {
    .hero .content h1 {
        font-size: 3rem;
    }

    .hero .content p {
        font-size: 1.4rem;
    }
}
