@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amita&family=Cormorant:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background: #000;
}

h1,
h4,
p,
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa .89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
  /* background: radial-gradient(circle, rgba(0, 173, 239, 1) 0%, rgba(27, 42, 95, 1) 100%); */
  /* background: radial-gradient(circle, rgba(42, 120, 228, 1) 0%, rgba(27, 42, 95, 1) 100%); */
  color: #000;
  border: 1px solid #2a78e4;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-light {
  /* background: rgba(255, 255, 255, 0.2); */
  background: transparent;
  color: #fff;
  transition: background 0.3s ease;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: background 0.3s ease-in;
}
